h1 {
  font-weight: bold;
  font-size: 60px;
}

.row {
  margin-top: 60px;
}

#currentWeather {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin-top: 40px;
}

.city {
  font-size: 30px;
  font-weight: bold;
}